.submit{
    text-align: center;
    padding: 2px 12px;
    border: none;
    border-radius: 20px;
    outline: none;
}
#header{
    margin-top: 11px;
}
.nav-item{
    margin-top: 19px;
}
#logo-{
    float: left;
}
#logo{
    width: 250px;
}
a:hover{
    cursor: pointer;
}
.container{
    float: left;
    margin-top: 15px;
}
.content{
    border: 1px solid red;
    margin-top: 80px;
}
.img{
    width: 100%;
}
.orange{
    
    color: green;
}